Options -Indexes
DirectoryIndex index.php
RewriteEngine On
RewriteRule (^|/)\. - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]

<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|svg|png|jpe?g|webp|ico|woff2?)$">
        Header set Cache-Control "public, max-age=0, must-revalidate"
    </FilesMatch>
</IfModule>
